.outerdiv-vehicle{
    position: absolute;
    left: 200px;
    top: 39px;
    width: 582%;
    height: 93%;
    /* border: 2px solid rgb(5, 0, 0); */
    background-color: rgb(28 56 70 / 92%);
}

.common-vehicle{
    width: 100%;
    /* border: 2px solid rgb(216, 29, 29); */
    height: 90%;
}

.divone-vehicle{
    /* border: 2px solid rgb(27, 255, 7); */
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

.indiviual-vehicle{
    align-self: center;
    height: 35%;
    margin-left: 0px;
    margin: 5px;
    width: 15%;
    /* border: 2px solid rgb(61, 7, 255); */
}

p{
    text-align: center;
    margin: 0px;
}